In [82]:
import numpy as np #creating numpy arrays
import pandas as pd #creating dataframes and storing data in dataframes
import re #for searching text in a document
from nltk.corpus import stopwords  #removes words that don't add value to the article
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer #converts texts into numbers
from sklearn.model_selection import train_test_split #splits data into training and testing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

## Data Preprocessing

In [29]:
#loading the dataset

news_dataset = pd.read_csv("C:\\Users\\HP\\Documents\\train.csv", encoding='latin1')

C:\Users\HP\AppData\Local\Temp\ipykernel_4224\3529583518.py:3: DtypeWarning: Columns (0,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,544,545,546,547,548,549,550,551,552,553,554,555,557,558,559,560,562,563,567,568,569,570,571,572,573,575,576,577,578,579,580,582,583,584,586,587,588,589,590,591,593,594,595,596,597,598,599,600,602,603,604,605,606,608,609,610,611,613,614,615,616,618,619,620,622,623,624,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,676,677,678,679,680,681,682,684) have mixed types. Specify dtype option on import or set low_memory=False.
  news_dataset = pd.read_csv("C:\\Users\\HP\\Documents\\train.csv", encoding='latin1')

In [30]:
news_dataset.shape

(25116, 686)

In [31]:
news_dataset.head()

,id,title,author,text,label,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 676,Unnamed: 677,Unnamed: 678,Unnamed: 679,Unnamed: 680,Unnamed: 681,Unnamed: 682,Unnamed: 683,Unnamed: 684,Unnamed: 685
0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#counting the number of missing values in the dataset

news_dataset.isnull().sum()

id                  3
title            2250
author           4542
text             3079
label            3446
                ...
Unnamed: 681    25115
Unnamed: 682    25115
Unnamed: 683    25115
Unnamed: 684    25115
Unnamed: 685    25115
Length: 686, dtype: int64

In [33]:
#replacing the null values with empty string

news_dataset= news_dataset.fillna(' ')

In [34]:
# merging the author name and news title

news_dataset['content'] = news_dataset['author'] + ' ' + news_dataset['title']

C:\Users\HP\AppData\Local\Temp\ipykernel_4224\2317422578.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  news_dataset['content'] = news_dataset['author'] + ' ' + news_dataset['title']

In [35]:
print(news_dataset['content'])

0        Darrell Lucus House Dem Aide: We Didnât Even...
1        Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2        Consortiumnews.com Why the Truth Might Get You...
3        Jessica Purkiss 15 Civilians Killed In Single ...
4        Howard Portnoy Iranian woman jailed for fictio...
                               ...
25111    Jerome Hudson Rapper T.I.: Trump a âPoster C...
25112    Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...
25113    Michael J. de la Merced and Rachel Abrams Macy...
25114    Alex Ansary NATO, Russia To Hold Parallel Exer...
25115              David Swanson What Keeps the F-35 Alive
Name: content, Length: 25116, dtype: object

In [36]:
# separating the data & label

print(news_dataset.columns)

Index(['id', 'title', 'author', 'text', 'label', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 677', 'Unnamed: 678', 'Unnamed: 679', 'Unnamed: 680',
       'Unnamed: 681', 'Unnamed: 682', 'Unnamed: 683', 'Unnamed: 684',
       'Unnamed: 685', 'content'],
      dtype='object', length=687)

In [37]:
X = news_dataset[['author', 'title', 'content']]
Y = news_dataset['label']

In [38]:
news_dataset.head()

,id,title,author,text,label,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 677,Unnamed: 678,Unnamed: 679,Unnamed: 680,Unnamed: 681,Unnamed: 682,Unnamed: 683,Unnamed: 684,Unnamed: 685,content
0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1,,,,,,...,,,,,,,,,,Darrell Lucus House Dem Aide: We Didnât Even...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,,,,,,...,,,,,,,,,,"Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,,,,,,...,,,,,,,,,,Consortiumnews.com Why the Truth Might Get You...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,,,,,,...,,,,,,,,,,Jessica Purkiss 15 Civilians Killed In Single ...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,,,,,,...,,,,,,,,,,Howard Portnoy Iranian woman jailed for fictio...

In [39]:
# separating the data & label

X = news_dataset.drop(columns='label', axis=1)
Y = news_dataset['label']

In [40]:
print(X)
print(Y)

          id                                              title  \
0          0  House Dem Aide: We Didnât Even See Comeyâs...
1          1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          2                  Why the Truth Might Get You Fired
3          3  15 Civilians Killed In Single US Airstrike Hav...
4          4  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
25111  20795  Rapper T.I.: Trump a âPoster Child For White...
25112  20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
25113  20797  Macyâs Is Said to Receive Takeover Approach ...
25114  20798  NATO, Russia To Hold Parallel Exercises In Bal...
25115  20799                          What Keeps the F-35 Alive

                                          author  \
0                                  Darrell Lucus
1                                Daniel J. Flynn
2                             Consortiumnews.com
3                                Jessica Purkiss
4                                 Howard Portnoy
...                                          ...
25111                              Jerome Hudson
25112                           Benjamin Hoffman
25113  Michael J. de la Merced and Rachel Abrams
25114                                Alex Ansary
25115                              David Swanson

                                                    text Unnamed: 5  \
0      House Dem Aide: We Didnât Even See Comeyâs...
1      Ever get the feeling your life circles the rou...
2      Why the Truth Might Get You Fired October 29, ...
3      Videos 15 Civilians Killed In Single US Airstr...
4      Print \nAn Iranian woman has been sentenced to...
...                                                  ...        ...
25111  Rapper T. I. unloaded on black celebrities who...
25112  When the Green Bay Packers lost to the Washing...
25113  The Macyâs of today grew from the union of s...
25114  NATO, Russia To Hold Parallel Exercises In Bal...
25115    David Swanson is an author, activist, journa...

      Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  ...  \
0                                                              ...
1                                                              ...
2                                                              ...
3                                                              ...
4                                                              ...
...          ...        ...        ...        ...         ...  ...
25111                                                          ...
25112                                                          ...
25113                                                          ...
25114                                                          ...
25115                                                          ...

      Unnamed: 677 Unnamed: 678 Unnamed: 679 Unnamed: 680 Unnamed: 681  \
0
1
2
3
4
...            ...          ...          ...          ...          ...
25111
25112
25113
25114
25115

      Unnamed: 682 Unnamed: 683 Unnamed: 684 Unnamed: 685  \
0
1
2
3
4
...            ...          ...          ...          ...
25111
25112
25113
25114
25115

                                                 content
0      Darrell Lucus House Dem Aide: We Didnât Even...
1      Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2      Consortiumnews.com Why the Truth Might Get You...
3      Jessica Purkiss 15 Civilians Killed In Single ...
4      Howard Portnoy Iranian woman jailed for fictio...
...                                                  ...
25111  Jerome Hudson Rapper T.I.: Trump a âPoster C...
25112  Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...
25113  Michael J. de la Merced and Rachel Abrams Macy...
25114  Alex Ansary NATO, Russia To Hold Parallel Exer...
25115            David Swanson What Keeps the F-35 Alive

[25116 rows x 686 columns]
0        1
1        0
2        1
3        1
4        1
        ..
25111    0
25112    0
25113    0
25114    1
25115    1
Name: label, Length: 25116, dtype: object

## Stemming

In [45]:
port_stem = PorterStemmer()

In [46]:
#creating a function stemming because it is not inbuilt

def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [47]:
news_dataset['content'] = news_dataset['content'].apply(stemming)

In [48]:
#separating the data and label
X = news_dataset['content'].values
Y = news_dataset['label'].values

In [49]:
print(X)
print(Y)

['darrel lucu hou dem aid even see comey letter jason chaffetz tweet'
 'daniel j flynn flynn hillari clinton big woman campu breitbart'
 'consortiumnew com truth might get fire' ...
 'michael j de la merc rachel abram maci said receiv takeov approach hudson bay new york time'
 'alex ansari nato russia hold parallel exerci balkan'
 'david swanson keep f aliv']
['1' '0' '1' ... '0' '1' '1']

In [50]:
# converting the textual data to numerical data
vectorizer = TfidfVectorizer()
vectorizer.fit(X)

X = vectorizer.transform(X)

In [51]:
print(X)

  (0, 16917)	0.2880854334390338
  (0, 14506)	0.24170537647240828
  (0, 9593)	0.36554380957366406
  (0, 9290)	0.29316509142349945
  (0, 8294)	0.25144197300521864
  (0, 7531)	0.21896464665093707
  (0, 5315)	0.22421109802197142
  (0, 4053)	0.27191930392178987
  (0, 3845)	0.3619018771847952
  (0, 3160)	0.2502144416754508
  (0, 2655)	0.36953309514559163
  (0, 290)	0.27111435953048824
  (1, 18113)	0.30210030198251686
  (1, 7324)	0.19482555405021912
  (1, 5882)	0.7182601539830337
  (1, 3811)	0.26710403088653173
  (1, 3010)	0.19578961228058397
  (1, 2386)	0.36872751620457817
  (1, 2025)	0.1612621074523253
  (1, 1600)	0.28850854083057703
  (2, 16837)	0.4150660858123297
  (2, 10349)	0.4757873319489284
  (2, 6392)	0.3373308801281171
  (2, 5757)	0.3938520403026429
  (2, 3313)	0.4735061475862881
  :	:
  (25113, 14125)	0.23517615875509928
  (25113, 13288)	0.26615394048073365
  (25113, 13068)	0.2510445370136946
  (25113, 11091)	0.08593839955446192
  (25113, 10312)	0.1783347670532336
  (25113, 10231)	0.2963727474148118
  (25113, 9674)	0.36314154254682707
  (25113, 9009)	0.22567775861351366
  (25113, 7572)	0.22170501356517855
  (25113, 3893)	0.2138107796482846
  (25113, 1374)	0.33292273561274893
  (25113, 746)	0.305078258621098
  (25113, 50)	0.29961517191662185
  (25114, 14047)	0.22678249995679425
  (25114, 11896)	0.43913659520232545
  (25114, 10954)	0.32229857515469124
  (25114, 7406)	0.3173446208314138
  (25114, 5378)	0.4106366484638114
  (25114, 1206)	0.4477091867359452
  (25114, 632)	0.3150505522876953
  (25114, 378)	0.28778802112656215
  (25115, 16018)	0.5778833559479472
  (25115, 8664)	0.44424508431121
  (25115, 3868)	0.3878802220711985
  (25115, 409)	0.5641330209353659

In [52]:
Y.shape

(25116,)

## Splitting the dataset for training and testing

In [65]:
# Define the feature matrix X and the target variable Y
X = np.array([[1, 2], [3, 4], [5, 6], [7, 8]])
Y = np.array([0, 0, 1, 1])

In [67]:
from sklearn.model_selection import train_test_split
import numpy as np

# Check the class distribution in Y
unique_classes, class_counts = np.unique(Y, return_counts=True)

# Find the class with only one member, if any
classes_with_single_instance = unique_classes[class_counts == 1]
if classes_with_single_instance.size > 0:
    class_with_single_instance = classes_with_single_instance[0]

    # Get the indices of instances belonging to the class with only one member
    indices_to_remove = np.where(Y == class_with_single_instance)[0]

    # Remove instances belonging to the class with only one member
    if indices_to_remove.size > 0:
        X_removed = np.delete(X, indices_to_remove, axis=0)
        Y_removed = np.delete(Y, indices_to_remove)

        # Perform train-test split on the updated data
        X_train, X_test, Y_train, Y_test = train_test_split(X_removed, Y_removed, test_size=0.2, random_state=2)
    else:
        print("No instances remaining after removing the class with only one member.")
else:
    print("No classes with only one member found.")

No classes with only one member found.

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Split the data into training and testing sets (optional)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

# Create an instance of the model (e.g., Logistic Regression)
model = LogisticRegression()

# Train the model on the training data
model.fit(X_train, Y_train)

# Perform predictions on the testing data
Y_pred = model.predict(X_test)

### Training the model: Logistic Regression

In [71]:
#load model in a variable
model = LogisticRegression()

In [72]:
#training model
model.fit(X_train, Y_train)

LogisticRegression()

## Evaluation and accuracy score

In [73]:
# accuracy score on the training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [74]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  1.0

In [75]:
# accuracy score on the test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [76]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.0

## Making a predictive system

In [81]:
if len(X_test) > 0:
    X_new = X_test[0]  # Access first instance in X_test
    X_new = X_new.reshape(1, -1)  # Reshape data to match expected input shape of model
    prediction = model.predict(X_new)
    
    if prediction[0] == 0:
        print('The news is Real')
    else:
        print('The news is Fake')
else:
    print("No instances in the test data.")

The news is Real